* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    
    
}

header {
    background-image: url(../img/bg-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "open sans", sans-serif;
    color: #ffffff;
    text-align: right;
    text-shadow: 0px 3px 10px black;
}

header h1 {
    font-size: 60px;

}

header h2 {
    font-size: 40px;
    font-weight: lighter;
}

#Proxima-Charla {
    background: #a4452c;
    padding: 100px;
    color: white;
}

.wrapper {
    width: 800px;
    margin: auto;
}

.wrapper img {
    width: 25%;

}

.wrapper .texto {
    width: 70%;
    margin-left: 4%;
}

.wrapper img,.texto {
    display: inline-block;
    vertical-align: middle;
}

footer {
    /* font-family: "Open Sans", sans-serif; */
    text-align: center;
    background: #000f08;
    color: white;
    padding: 20px;
}

i {
    font-size: 2em;
}